Options -Multiviews -Indexes +FollowSymLinks
RewriteEngine On
RewriteBase /
DirectorySlash Off

# remove trailing slash
RewriteRule ^(.*)\/(\?.*)?$ $1 [R=301,L]

# rewrite /dir/file to /dir/file.html
RewriteRule ^([\w\/-]+)(\?.*)?$ $1.html [L,T=application/x-httpd-php]
